html{
	width:100%;
	height:100%;
}


body {
	width:100%;
	height:100%;
	background-color:rgb(250,250,250);
}


.navbar{
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 17%, #f1f1f1 32%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(17%,#f6f6f6), color-stop(32%,#f1f1f1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

	border-color:rgb(200,200,200);
}

.search_tab{
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 17%, #f1f1f1 32%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(17%,#f6f6f6), color-stop(32%,#f1f1f1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
	padding:5px;
}

.search_tab_b{
	background: rgb(250,250,250);
	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
	padding:5px;

}

.container{
	width:100%;
	height:40px;
}

.project {
	padding: 30px 5px;
	text-align: center;
	height:90%;
}

.sis{

	margin:5px;
}

.navbar{
	height:10px;
}

#status{
	width:100%;
	height:30px;
	position:absolute;
	top:100%;
	margin-top:-30px;
background: #fefefe; /* Old browsers */
background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 17%, #f1f1f1 32%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(17%,#f6f6f6), color-stop(32%,#f1f1f1), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fefefe 0%,#f6f6f6 17%,#f1f1f1 32%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */

	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
}

.tyokalut{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #fcfcfc 17%, #fafafa 32%, #f8f8f8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(17%,#fcfcfc), color-stop(32%,#fafafa), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#fcfcfc 17%,#fafafa 32%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#fcfcfc 17%,#fafafa 32%,#f8f8f8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#fcfcfc 17%,#fafafa 32%,#f8f8f8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#fcfcfc 17%,#fafafa 32%,#f8f8f8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */

	width:100%;
	height:40px;
	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
	text-align:left;
	padding:2px;
}

.tab-content{
	height:100%;
}

.tab-pane{
	height:100%;
}

.arkisto-xml{
	height:100%;
	display:none;
}

.yllapito-xml{
	height:100%;
	display:none;
}

.yllapito{
	height:100%;
	display:none;
	margin:10px;
	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
	background-color:rgb(255,255,255);
}

.arkisto{
	height:100%;
	display:none;
	margin:10px;
	border-color:rgb(200,200,200);
	border-style:solid;
	border-width:1px;
	background-color:rgb(255,255,255);
}

.xml-area{
	width:100%;
	height:100%;
}

.layout_notvisible{
	color:red;
}

.layout_admin{
	color:green;
}

.layout_write{
	color:blue;
}

.layout_read{
	color:orange;
}
